<input type="{{type}}" value="{{value}}" class="form-simple__input form-control" id="{{id}}" placeholder="{{label}}" name="{{name}}">
{{!-- <div class="form-simple__input-wrap">
<label class="form-simple__label" for="{{this.name}}">{{this.label}}</label>
<input type="text" class="form-simple__input form-control" id="{{this.name}}"
placeholder="{{this.label}}" name="{{this.name}}"
onfocus="{{this.onFocus}}" onblur="{{this.onBlur}}">
<div class="form-simple__error"></div>
</div> --}}
