<div class="form-settings__input">
    <div class="form-settings__labels">{{label}}</div>
    <input type="{{type}}" value="{{value}}" class="form-settings__input" 
    id="{{id}}" name="{{name}}" placeholder="{{value}}">
</div>
