<form class="form-simple__wrap" action="post">
    <div class="form-simple__fields">
        {{{email}}}
        {{{login}}}
        {{{first_name}}}
        {{{second_name}}}
        {{{phone}}}
        {{{password}}}
        {{{password_add}}}
    </div>

    <button type="submit" class="form-simple__btn">Зарегистрироваться</button>
</div>
