<form class="form-simple">
  <div>
    <h3 class="form-simple__title">{{title}}</h3>
    <div class="form-simple__wrap">
        {{{login}}}
        {{{password}}}
        {{{email}}}
        {{{first_name}}}
        {{{second_name}}}
        {{{phone}}}
        {{{password}}}
        {{{password_add}}}
    </div>
  </div>
  <div class="form-simple__btns">
      <button type="submit" class="form-simple__btn">{{btn}}</button>
      {{{link}}}
  </div>
</form>
